@model IEnumerable<SlothFreelance.Models.Tasks>

@foreach (var item in Model)
{
    <a href="~/Tasks/TaskDetails/@item.TaskId">
        <div class="block-task">
            <div class="d-flex  justify-content-between">
                <div class="button-zag">@Html.DisplayFor(modelItem => item.TaskName)</div>
                <div class="button-price">@Html.DisplayFor(modelItem => item.Price)Р</div>
            </div>
            <div class="button-ops">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="d-flex align-items-end">
                <div class="button-kat">@Html.DisplayFor(modelItem => item.Category.CategoryName)</div>
                <div class="ml-auto button-kat" style="margin-right:13px;">@item.PublishDate</div>
            </div>
        </div>
    </a>
}